html {
    scroll-behavior: smooth;
    scrollbar-shadow-color: skyblue;
}

body {
    margin: 0px;
    left: 0px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-family: 'Pattaya', sans-serif;
}

.navbar {
    position: fixed;
    /* background-image: linear-gradient(283deg, rgba(32, 220, 233, 0.793), rgba(39, 21, 236, 0.8)); */
    background-image: linear-gradient(283deg, rgba(32, 220, 233, 1), rgba(39, 21, 236, 1));
    padding: 10px 0px;
    height: 70px;
    min-height: max-content;
    width: 100vw;
    display: flex;
    align-content: center;
    z-index: 999;
}

.buttonContainer {
    position: relative;
    min-width: max-content;
    height: max-content;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
}

.navButtons {
    padding: 5px 20px;
    flex-grow: 1;
    display: flex;
    align-content: center;
    min-height: max-content;
}

.navButton {
    transition: ease .4s;
    border-radius: 6px;
}

.navRight {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nameTitle>.navButton {
    display: flex;
    align-content: center;
    padding: 0 5px;
}

.navRight .navButton {
    padding: 5px 9px;
    min-width: max-content;
}



.buttonContainer:hover .navButton {
    transition: ease-in 0.4s;
    color: rgba(119, 0, 255, 0.786);
    background: rgb(255, 255, 255);
}

/* .buttonOverlayContainer:hover .buttonOverlay {
    transition: ease-in-out 0.9s;
    opacity: 0.5;
} */

#mainPage {
    width: 100%;
    height: 100vh;
}

nav h1 {
    font-size: 2em;
    font-family: 'Pattaya', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0px;
}

nav .myName {
    font-size: 2.8em;
}

#welcomePage {
    background-image: url("../images/animePretty.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 3px rgba(39, 21, 236, 0.8);
}

.title {
    position: relative;
    font-family: 'Pattaya', sans-serif;
    color: white;
    font-size: 5em;
    top: 10vh;
    text-shadow: rgb(87, 0, 226);
}



.moveButton {
    position: relative;
    top:15vh;
    background: rgba(32, 220, 233, 1);
    color: white;
    width: 270px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    border-radius: 2.2em;
    padding: 3px 12px;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Squada One', cursive;
    /* looked this one up from css-tricks.com */
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 6px #000000;
    transition: ease-out 0.3s;
}

.moveButton:hover {
    transition: ease 0.5s;
    background: white;
    text-shadow: rgb(87, 0, 226);
}

.Container {
    position: relative;
    max-width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
}

/*About Stuff*/
.aboutMe {
    /* min-height: 100vh; */
    background-image: url("../images/divide.jpg");
    box-shadow: 0 0 3px rgba(39, 21, 236, 0.8);
    justify-content: left;
}

.aboutDialogue {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-top: 30px;
    margin-left: 30px;
}

.aboutSection {
    width: 600px;
    height: 400px;
    background-color: #2721ec;
    color: azure;
    border-radius: 30px;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: inset 0 0 15px 5px #4ba2ff;
}

.aboutText {
    width: 90%;
    height: 74%;
    background-color: rgb(48, 48, 48);
    margin-top: 10px;
    align-self: center;
}

#carouselExampleControls, .carousel-inner, .carousel-item {
    position: relative;
    height: 100%;
    width: 100%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: blue;
}

.marcus {
    position: relative;
    border-radius: 50%;
    max-width: 375px;
    box-shadow: 0 0 10px 4px rgb(13 93 233 / 80%);
    border-style: inset;
}

.marcus:hover {
    transition: ease 0.8s;
    box-shadow: 0 0 10px 4px rgb(135, 135, 135);
    border-color: rgb(48, 196, 255);

}

/*About Stuff End*/

/*Portfolio Stuff*/

.portfolio {
    background-image: url("../images/sceneBrowsing.jpg");
    align-content: space-around;
    justify-content: space-around;
    padding-top: 77px;
}

.portfolioCircle {
    background-color: azure;
    border-radius: 50%;
    width:400px;
    height: 400px;
    text-align: center;
    line-height: 50%;
    color: black;
}

.portfolioCircle .material-icons {
    font-size: 300px;
    line-height: 1.3em;
}

.portfolioCircle:hover {
    transition: ease-in 0.4s;
    color: rgba(0, 162, 255, 0.786);
    background: rgb(255, 255, 255);
}

/*End Portfolio*/

/*Resume*/

.resume {
    background-image: url("../images/blueGalaxy.jpg");
}

/*End Resume*/



